.background {
  position: absolute;
  width: 100%;
  height: 100%;
  /* Full viewport height */
  background-color: #1c1c1c;
  /* Dark background color */
  overflow: hidden;
  /* Hide overflow if circles go outside */
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.9;
  /* Slight transparency */
}

.blue-circle {
  width: 1400px;
  height: 500px;
  background-color: #6ccff6;
  /* Blue color */
  top: 75%;
  left: 10%;
  /* Adjust for position */
  transform: translate(-50%, -50%);
}

.pink-circle {
  width: 1400px;
  height: 500px;
  background-color: #ff64d1;
  /* Pink color */
  top: -42%;
  right: 6%;
  /* Adjust for position */
  transform: translate(50%, 50%);
}